<% data.some_stats.stats.each do |f| %>

  <div class="item <%= f["crime"]%> <%= f["tipo_regiao"]%> <%= f["circulo_pessoal"]%>">
    <div class="carousel-caption">
      <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
      <p class='taxas-valor'>o cidadão <%= f["regiao"] %> </p>
      <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
      <p class='taxas-valor'>
          <% if f["atingidos"].to_i > 1 %>
            <%= "#{f['atingidos']} #{data.some_stats.pluralize[ f['circulo_pessoal'] ]}" %>
          <% else %>
            <%= "#{f['atingidos']} #{f['circulo_pessoal']}" %>
          <% end %>
      </p>

      <p class='taxas-preambulo'>
          <% if f["atingidos"].to_i > 1 %>
            <%= "sofram" %>
          <% else %>
            <%= "sofra" %>
          <% end %>
      </p>

      <p class='taxas-valor'><%= data.some_stats.dicionario[ f["crime"] ] %></p>
      <p class='taxas-footer'>*referente à taxa de <%= f["taxa_cem_mil"] %> homicídios para cada 100.000 habitantes <br><a href="<%= data.some_stats.dicionario[ f["fonte"] ] %>" target="_blank">fonte: <%= f["fonte"] %></a></p>
      <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
    </div>      
  </div>

<% end %>

    <div class="item veiculo estado domicilio">
<!--      <img src="images/img_flower.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o carioca </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>1 vez em casa</p>
        <p class='taxas-preambulo'>- uma vez dentre os residentes em seu domicílio - <br>ocorra </p>
        <p class='taxas-valor'>roubo de veículo</p>
        <p class='taxas-footer'>*referente à taxa de 421 roubos de veículo para cada 100.000 habitantes <br><a href="http://www.forumseguranca.org.br/produtos/anuario-brasileiro-de-seguranca-publica/7a-edicao" target="_blank">fonte: 7ª edição do Anuário Brasileiro de Segurança Pública</a></p>
        <p><a class="btn btn-lg btn-primary btn-warning" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>        
    </div>

    <div class="item homicidio pais inglaterra ninguem">
<!--      <img src="img_flower2.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o inglês </p>  
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor' title="Para o cidadão, via de regra, é esperado que as vítimas sejam desconhecidas">nenhum conhecido<sup>*</sup></p>
        <p class='taxas-preambulo'>- e nenhum familiar - <br>tenha sido </p>
        <p class='taxas-valor'>assassinado</p>
        <p class='taxas-footer'>*Via de regra é esperado que as vítimas sejam desconhecidas. <br>Referente à taxa de 1,2 homicídios para cada 100.000 habitantes. <br><a href="http://www.unodc.org/documents/gsh/data/GSH2013_Homicide_count_and_rate.xlsx" target="_blank">fonte: UNODC - Homicide counts and rates, time series 2000-2012</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda <span class="hidden-phone">a estatística</span></a></p>      
      </div>       
    </div>    

    <div class="item homicidio municipio familiares">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão de Mata de São João/BA </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>3 familiares</p>
        <p class='taxas-preambulo'>- três dentre seus familiares - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 149 homicídios para cada 100.000 habitantes <br><a href="http://www.mapadaviolencia.org.br/" target="_blank">fonte: SIM/SVS/MS (2012)</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

