<ul class='breadcrumb'>
  <li class="<%= 'active' if current_page.path == 'index.html' %>"><a href="index.html">Previsões</a></li>
  <li class="<%= 'active' if current_page.path == 'circulos_pessoais.html' %>"><a href="circulos_pessoais.html">Círculos Pessoais</a></li>
  <li class="<%= 'active' if current_page.path == 'proxima_ou_distante.html' %>"><a href="proxima_ou_distante.html">Violência Próxima ou Distante?</a></li>
  <li class="<%= 'active' if current_page.path == 'http://calculo.mapadaseguranca.com' %>"><a href="http://calculo.mapadaseguranca.com" target="_blank">Leia o Artigo</a></li>
  <li class="<%= 'active' if current_page.path == 'contato.html' %>"><a href="contato.html">Fale Conosco</a></li>
</ul>