<ul class='breadcrumb'>
  <li class="<%= 'active' if current_page.path == '/index.html' %>"><a href="index.html">Previsões</a></li>
  <li class="<%= 'active' if current_page.path == '/circulos-pessoais.html' %>"><a href="circulos-pessoais.html">Círculos Pessoais</a></li>
  <li class="<%= 'active' if current_page.path == '/proxima-ou-distante.html' %>"><a href="proxima-ou-distante.html">Violência Próxima ou Distante?</a></li>
  <li class="<%= 'active' if current_page.path == 'http://calculo.mapadaseguranca.com' %>"><a href="http://calculo.mapadaseguranca.com" target="_blank">Leia o Artigo</a></li>
  <li class="<%= 'active' if current_page.path == '/contato.html' %>"><a href="contato.html">Fale Conosco</a></li>
</ul>