<!-- Logo -->  

<!--
<div class='row text-center'>
  <a href="https://plus.google.com/+VladimirBrasil?rel=author"><img src="images/logo.svg" alt="Google+" width="100px"></a>
  </div>
-->
 
  <div class='footer'>
    <div class="container">

      <br>
      <%= partial "layouts/share"  %>  


      <div class='row text-center'>
        <div class='col-sm-12'>
          <h4>Quem somos</h4>
          <p>MapaDaSeguranca.com busca <b>universalizar</b> o entendimento de informações sobre segurança.  </p>
        </div>
      </div>

    <!-- Ação: clicks -->
    <div class='row text-center'>
      <br>
      <div class='col-sm-6'>
      
        <%= partial "layouts/_btn_mudamosorg"  %>      
        <%= partial "layouts/_btn_propostaprefeituras"  %>      
      </div>

      <div class='col-sm-6'>
        <%= partial "layouts/_btn_revista"  %>      
      </div>

    </div>

      <div class='row  text-center'>
        <div class='col-sm-6'>
          <h4>Autor</h4>
          <a href="https://plus.google.com/+VladimirBrasil?rel=author" target="_blank"><div class="autor"></div></a>          
          <p class="curriculo">Vladimir Bergier Dietrichkeit é membro do Grupo de Trabalho para a Reestruturação da Polícia Federal junto ao Ministério do Planejamento, Orçamento e Gestão e Ministério da Justiça. Também é membro da Fundação Brasileira de Ciências Policiais a partir de 2015. Vladimir quer calcular se familiares podem ser atingidos por crimes ou epidemias.</p>          
        </div>
        <div class='col-sm-5 col-sm-offset-1'>
          <h4>Desafio</h4>
          <div class="logotipo"></div>          
          <p>Vladimir quer traduzir para cada vez mais pessoas - das mais variadas classes - como as taxas para cada 100.000 habitantes afetam suas casas, seus familiares, seus conhecidos. Esse é o desafio de inovação do novo método de apresentação da informação sobre violência calculado por <b>MapaDaSeguranca.com</b>.</p>        
        </div>
      </div>
      
      <div class='row text-center'>
        <div class='col-sm-6'>
          <h4>Compreensão</h4>
          <p>MapaDaSeguranca.com acredita que <b>todos</b>, mesmo aqueles que não entendem matemática ou não trabalham diretamente com segurança pública, precisam entender o que está acontecendo em sua região ou segmento social.</p>
        </div>

        <div class='col-sm-5 col-sm-offset-1'>
          <h4>Cobrar e elogiar</h4>
          <p>MapaDaSeguranca.com aposta que o entendimento universal sobre segurança ajudará mais pessoas a <b>compreender, cobrar e elogiar</b> políticas de segurança.</p>
        </div>


      </div>

<!-- 
        <%= partial "layouts/_eventos_participamos"  %>      
 -->

<!--       <div
        class="fb-like row text-center"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>          
 -->

     <div class="row text-center"
           itemscope 
           itemtype="http://schema.org/Person">
        <div class='col-xs-12'>
          <ul class="list-inline">
            <li>
              <br><p><a href="https://twitter.com/MapaSeguranca" class="twitter-follow-button" data-show-count="false" data-lang="pt">Seguir @MapaSeguranca</a></p>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li> 
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="MapaSeguranca" data-lang="pt">Tweetar</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
          </ul>
        </div>
      </div>      
 
      <div class="row text-center"
           itemscope 
           itemtype="http://schema.org/Person">
        <div class='col-xs-12'>
          <p>por <span itemprop="name">Vladimir Bergier Dietrichkeit</span> 
          <!--<a href="https://plus.google.com/+VladimirBrasil?rel=author"><img src="images/Google_plus.svg" alt="Google+" width="16px"></a> | -->
          | <a href="mailto:info@mapadaseguranca.com"  itemprop="email">info@mapadaseguranca.com</a></p>          
        </div>
      </div>      
    </div>

  </div> 