<% stats = CustomHelpers::Stats.new.stats %>
<% utils = CustomHelpers::Utilities.new %>
<% stats.each_with_index do |stat, n| %>


  <div class="item<%= " active" if n == 0 %> <%= stat.crime%> <%= stat.tipo_regiao%> <%= stat.circulo_pessoal%>">
    <div class="carousel-caption">
      <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
      <p class='taxas-valor'>o cidadão <%= stat.regiao %> </p>
      <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
      <p class='taxas-valor'>
          <%= "#{stat.atingidos} #{utils.pluralize(stat.atingidos, stat.circulo_pessoal)}" %>
      </p>

      <p class='taxas-preambulo'>
          <%= utils.pluralize(stat.atingidos, "sofra") %>
      </p>

      <p class='taxas-valor'><%= utils.dicionario(  stat.crime  ) %></p>

      <p class='taxas-footer'>
          <% if /.*nenhum.*/ =~ stat.atingidos.to_s %>
            <%= "*Via de regra é esperado que as vítimas sejam desconhecidas.<br>" %>
          <% end %> 
          *referente à taxa de <%= stat.taxa_cem_mil.to_s.gsub(".",",") %> <%= utils.pluralize( stat.taxa_cem_mil, stat.crime) %> para cada 100.000 habitantes <br>
          <a href="<%= utils.dicionario(  stat.fonte  ) %>" target="_blank">fonte: <%= stat.fonte %></a>
      </p>
      <p></p>     
      <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p> 
    </div>      
  </div>

<% end %>