<% stats = CustomHelpers::Stats.new.stats %>
<% stats.each_with_index do |stat, n| %>


  <div class="item<%= " active" if n == 0 %> <%= stat.crime%> <%= stat.tipo_regiao%> <%= stat.circulo_pessoal%>">
  
    <img src="/images/regions/<%= stat.regiao_img %>.jpg" height="auto" width="1280px" alt="">
    <!-- <img src="/images/regions/t.jpg" height="auto" width="1920px" alt=""> -->
    <!-- 

     -->

    <div class="carousel-caption">

      <p class='taxas-preambulo'>
        Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida: 
      </p> 
      <h1 class='taxas-preambulo'>
        <span class=''>
          Quem vive <%= utils.preposicao_em(stat.regiao) %> 
        </span>
        <span class='taxas-valor taxas-regiao'>
          <%= stat.regiao %> 
        </span>
        deve esperar que
        <span class='taxas-valor taxas-vitimas'>
          <%= "#{stat.atingidos} #{utils.pluralize(stat.atingidos, stat.circulo_pessoal)}" %> 
        </span>
        <%= "#{utils.pluralize(stat.atingidos, "seja")} #{utils.pluralize(stat.atingidos, "vítima")} de" %> 
        <span class='taxas-valor taxas-crime'>
          <%= utils.dicionario(  stat.crime  ) %>
        </span>
      </h1>


      <ul class="list-inline taxas-share">

        <li><a  href="https://twitter.com/intent/tweet?via=MapaSeguranca;url=<%= current_page_full_url %>;text=Ao longo da vida, estima-se que <%= "#{stat.atingidos} #{utils.pluralize(stat.atingidos, stat.circulo_pessoal)}" %> <%= utils.pluralize(stat.atingidos, "deva") %> sofrer <%= utils.dicionario(  stat.crime  ) %> <%= stat.na_regiao %>. <%= "E no Brasil? " unless stat.eh_info_negativa %><%= "" if stat.eh_info_negativa %>" 
                target="_blank" class="tw-share icon icon-twitter popup">
                <span class="fa fa-twitter fa-2x"></span>
                <span class="sr-only">Compartilhar no Twitter</span></a></li>


        <li><a  href="whatsapp://send?text=Com as taxas de violência atuais, ao longo da vida estima-se que <%= "#{stat.atingidos} #{utils.pluralize(stat.atingidos, stat.circulo_pessoal)}" %> <%= utils.pluralize(stat.atingidos, "deva") %> sofrer <%= utils.dicionario(  stat.crime  ) %> <%= stat.na_regiao %>. <%= "E no Brasil? " unless stat.eh_info_negativa %><%= "" if stat.eh_info_negativa %> <%= current_page_full_url %>" 
                target="_blank" class="ws-share icon icon-whatsapp">
                <span class="fa fa-whatsapp fa-2x"></span>
                <span class="sr-only">Compartilhar no WhatsApp</span></a></li>

      </ul>




      <p class='taxas-footer'>
        <% if !stat.atingidos %>
          *Via de regra é esperado que as vítimas sejam desconhecidas.<br>
        <% end %> 
        <% if stat.circulo_pessoal.match(/amigo/) %>
          *amigos/colegas/conhecidos.<br>
        <% end %> 
          *referente à taxa de <%= stat.taxa_cem_mil_rounded.to_s.gsub(".",",") %> <%= utils.pluralize( stat.taxa_cem_mil, stat.crime) %> para cada 100.000 habitantes <br>
          <a href="<%= stat.url %>" target="_blank">fonte: <%= stat.fonte %></a>
      </p>
          
      
<!--
       <p><a class="btn btn-lg btn-primary" href='circulos-pessoais.html' role="button">Entenda a estatística</a></p> 
 -->      
    </div>      
  </div>

<% end %>