<% wrap_layout :layout do %>
  <% author = find_author(current_article.data.author) %>
  <% img = find_image(current_article.data.header_image) %>
  <% header_class = current_article.data.header_image ? "blog-header" : "blog-header-without-image" %>

  <div id="main" role="main">

      <div class='row text-left'>
        <div class='col-sm-12'>
          <div class="<%= header_class %>">
            <div class="<%=header_class%>-caption">
              <h1><%= current_article.data.title %></h1>
            </div>
            <img src="<%= img %>" alt="">
          </div>
        </div>
      </div>

    <div class='container'>

<!-- https://medium.com/@erikdkennedy/7-rules-for-creating-gorgeous-ui-part-2-430de537ba96#.y9ca1njvl -->


      <div class='row text-left'>
        <br>
      </div>

      <div class='row text-left'>
        <div class='col-sm-8'>


          <div class='row text-left'>
            <div class='col-sm-2'></div>

            <div class='col-sm-8'>              
              <article>
                <%= yield %>  
              </article>
            </div>
            <div class='col-sm-2'></div>
          </div>

          <div class='row text-left'>
            <h2>Comentários</h2>
            <p style="font-size: 0.8em; text-align: right;">Elegância e gentileza jamais sofrerão moderação.</p>
            <!--         <fb:comments href="<%= current_page_full_url %>"></fb:comments> 
                  Moderação: https://developers.facebook.com/tools/comments  
            -->        
            <div class="fb-comments" data-href="<%= current_page_full_url %>" data-width="100%" data-numposts="5"></div>
          </div>


        </div>
        <div class='col-sm-4'>
          <aside class="listagem-artigos">
            <h2>Artigos recentes</h2>
            <ul>
              <% blog.articles[0...10].each do |article| %>
                <li><span><%= article.date.strftime('%e/%m/%Y') %> </span><br><%= link_to article.title, article %></li>
              <% end %>
            </ul>

            <h2>Tags</h2>
            <ul>
              <% blog.tags.each do |tag, articles| %>
                <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
              <% end %>
            </ul>

            <h2>Por ano</h2>
            <ul>
              <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
              <% end %>
            </ul>
          </aside>
          
        </div>
      </div>
      <div class='row text-left'>
            

        <%= partial "layouts/_formula"  %>   

        <!-- Ação: clicks -->
        <div class='container'>
          <div class='row text-center well'>

            <div class='col-sm-4'>
              <%= partial "layouts/_btn_previsoes"  %>
            </div>

            <div class='col-sm-4'>
              <%= partial "layouts/_btn_blog"  %>
            </div>

            <div class='col-sm-4'>
              <%= partial "layouts/_btn_contato"  %>      
            </div>

          </div>
        </div>

      </div>


    </div>


  </div>
        


<% end %>
