<!DOCTYPE html>
<html lang="pt">


  <%= partial "layouts/head"  %>   

  <body class="<%= page_classes %>">
    <%= partial "layouts/menu"  %>   

<!--     <%= partial "layouts/breadcrumb" %>    -->

    <%= yield %>
    
    <%= partial "layouts/footer"  %>   
  </body>

 
</html>
