<!DOCTYPE html>
<html lang="pt">


  <%= partial "layouts/head"  %>   

  <body class="<%= page_classes %>">

  	<!-- facebook script -->
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '1698565290377342',
	      xfbml      : true,
	      version    : 'v2.5'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
  	<!-- fim facebook script -->

    <%= partial "layouts/menu"  %>   

<!--     <%= partial "layouts/breadcrumb" %>    -->

    <%= yield %>
    
    <%= partial "layouts/footer"  %>  

  </body>

 
</html>
